<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>

    {%load static%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {%block title%}Truffles Software Solutions{%endblock%}
    <link rel="stylesheet" href="{% static 'css/Raleway.css' %}">

    {%load bootstrap5%}
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <script src="{% static 'js/startup-modern.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    
    {%block content%}{%endblock%}
</body>
</html>